#project-listing {
	float: left;
	position: relative;
	height: 100%;
	width: 229px;
	margin-left: -230px;
	border-right: 1px solid darken($color, 10%);

	@media (max-width: 605px) {
		margin-left: -1px;
	}
}

#filter-form {
	padding: 5px 10px;
	margin-bottom: 0;

	input {
		width: 195px;
	}
}

@import "projectitems";
@import "projectfooter";
