#project-items {
	width: 100%;
	top: 41px;
	
	ol {
		list-style: none;
		margin: 0;
		width: 100%;
	}
	ol > li {
		border-bottom: 1px solid darken($color, 10%);
		cursor: pointer;
		background-color: $color;

		& > div {
			position: relative;
			padding: 10px 30px 10px 25px;
			border-left: 5px solid $color;
		}
		&.active > div,
		&.active:hover > div {
			border-left-color: $highlight;
			background-color: $base;
		}
		&:hover > div {
			border-left-color: $base;
			background-color: $base;
		}
		&:hover .delete {
			display: block;
		}
		.delete {
			display: none;
			color: #aaa;
			position: absolute;
			right: 5px;
			top: 0;
			bottom: 0;
			margin: auto 0;
			font-size: 23px;
		}
		.delete:hover {
			color: black;
			text-decoration: none;
		}
		.delete i {
			line-height: 1.7;
		}
	}

	h2 {
		margin: 0;
		font-size: 13px;
		line-height: 1.5;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}

	.label {
		position: absolute;
		top: 10px;
		left: 5px;
		max-width: 10px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.change {
		font-size: 12px;
		color: #aaa;
	}
}
