::-webkit-scrollbar {
	width: 6px;
}
::-webkit-scrollbar-button {
	display: none;
	height: 0;
	width: 0;
}
::-webkit-scrollbar-track {
	border-left: 1px solid rgba(0,0,0,0.1);

}
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0);
	border-radius: 3px;
}
:hover::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,0.2)
}