#project-details header {
	padding: 0 20px;
	z-index: 3;

	input {
		font-size: 18px;
		padding: 0 5px;
		height: 30px;
		margin: 4px 0;

		@media (max-width: 605px) {
			max-width: 73%;
		}
	}
	.edit-name {
		width: 100%;
	}
	.edit-name button {
		display: none;
	}
	.edit-name:hover button {
		display: inline-block;
	}
	.actions {
		margin: 7px 0;
		@media (max-width: 605px) {
			position: absolute;
			right: 5px;
		}
	}
}
