#settings {
	position: absolute;
	top: 41px;
	left: 0;
	right: 0;
	z-index: 1;
	background-color: $color;
	border-bottom: 0px solid darken($color, 10%);
	-webkit-box-shadow: 0 0 0 transparent;
	-webkit-transition-duration: 0s;
	&.in {
		border-bottom-width: 1px;
		-webkit-box-shadow: 0 2px 3px darken($color, 25%);
	}
	& > div {
		margin: 10px;
	}

	section {
		
	}
}

.alert {
	-webkit-border-radius: 0;
	position: absolute;
	left:0;
	right:0;
	top:41px;
	z-index: 1;
}
