body,
html,
:root {
	min-width: 433px;
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
	-webkit-user-select: none;
	background-color: $base;
}
section:focus, {
	outline: none;
}
#wrapper {
	padding-left: 230px;
	position: relative;
	float: left;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.column {
	float: left;
	position: relative;
	height: 100%;

	& > div > header {
		height: 40px;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		background-color: $color;
		border-bottom: 1px solid darken($color, 10%);
	}

	& > div > section {
		position: absolute;
		top: 40px;
		bottom: 41px;
		overflow: auto;
		width: 100%;
	}

	& > div > footer {
		position: absolute;
		height: 40px;
		bottom: 0;
		left: 0;
		right: 0;
		background-color: $color;
		border-top: 1px solid darken($color, 10%);
	}
}

@media (max-width: 723px) {
	body {
		width: 200%;
		min-width: 866px;
	}
	#wrapper {
		padding-left: 0;
		body.details & {
			margin-left: -50%;
		}
	}
	#wrapper > .column {
		width: 50%;
	}
	#wrapper > .column-mod {
		margin-left: 50%;
		width: 50%;
	}
}