/**
 * Droid Serif
 */
@font-face {
	font-family: 'Droid';
	src: url("../fonts/droid/DroidSerif-Regular.ttf") format("truetype");
}
@font-face {
	font-family: 'Droid';
	src: url("../fonts/droid/DroidSerif-Italic.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: 'Droid';
	src: url("../fonts/droid/DroidSerif-Bold.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: 'Droid';
	src: url("../fonts/droid/DroidSerif-BoldItalic.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}








/**
 * PT Sans
 */
@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/pt/PTS55F.ttf") format("truetype");
}
@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/pt/PTS56F.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/pt/PTS75F.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: 'PT Sans';
	src: url("../fonts/pt/PTS56F.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}








/**
 * PT Sans
 */
@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu/UbuntuMono-R.ttf") format("truetype");
}
@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu/UbuntuMono-RI.ttf") format("truetype");
	font-style: italic;
}
@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu/UbuntuMono-B.ttf") format("truetype");
	font-weight: bold;
}
@font-face {
	font-family: 'ubuntu';
	src: url("../fonts/ubuntu/UbuntuMono-BI.ttf") format("truetype");
	font-weight: bold;
	font-style: italic;
}